{% extends 'OpenContribViewBundle::main.html.twig' %}

{% block container %}

    <div class="container">

        <h1>Nos projets phares</h1>

        {% for project in projects %}
            <a href="{{ path('projects_show', { 'id': project.id }) }}">
                <div class="col-sm-12 projet">
                    <div class="col-sm-4">
                        <div class="img" style="background-image:url('{{ app.request.getSchemeAndHttpHost() }}{{ app.request.basePath }}{{vich_uploader_asset(project, 'imageFile') }}')"></div>
                    </div>
                    <div class="information col-sm-8">
                        <ul>
                            <li>Nom : {{ project.nom }}</li>
                            <li>Catégorie : {{ project.categorie }}</li>
                            <li>Description : {{ project.description }}</li>

                            <a href="{{ path('projects_edit', { 'id': project.id }) }}" class="edit">Éditer</a>
                        </ul>
                    </div>
                </div>
            </a>
        {% endfor %}
        <div class="col-sm-12">
            <a href="{{ path('projects_new') }}">Create a new project</a>
        </div>
    </div>
    <!-- start style -->
    <style>
        .container {
            margin-top: 50px;

        }
        .img {
            width: 400px;
            height: 300px;
            background: no-repeat;
            background-size: contain;
            float: left;
        }
        .projet {
            margin-bottom: 20px;
            border: #1E90FF solid 1px;
        }
        a:link {
            text-decoration: none;
            color: black;
        }
        a, a:hover {
            color:black;
        }
        .edit {
            color:red;
        }
    </style>
    <!-- end style -->
{% endblock %}
