{% extends 'OpenContribViewBundle::main.html.twig' %} {% block container %} {% trans_default_domain 'FOSUserBundle' %}

<div class="container-login">

<div class="login-container">
  <h1>Réinitialiser le mot de passe</h1><br>

  <div class="champs">
            <div class="texte-champs animated fadeInLeft" style="height:150px;">
<label for="current">{{ 'Mot de passe actuel'|trans }}</label>
<label for="new">{{ 'Nouveau mot de passe'|trans }}</label>
<label for="repeat">{{ 'Répéter le mot de passe'|trans }}</label>

  </div>
    <div class="input-champs input-champs-2 animated fadeInRight" style="height:150px;">
      <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
          <div>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}


          </div>

      </form>
    </div>


  </div>
  <div class="submit-champs">
    <div>
        <input type="submit" class="btn btn-success" value="{{ 'Valider'|trans }}" />
    </div>

        {{ form_end(form) }}
  </div>
</div>

</div>
{% endblock %}
