{% extends 'OpenContribViewBundle::main.html.twig' %} {% block container %} {% trans_default_domain 'FOSUserBundle' %}

<div class="container-login">

<div class="login-container">
  <h1>Créer votre compte</h1><br>

  <div class="champs">
            <div class="texte-champs animated fadeInLeft" style="height: 300px">
    <label for="username">{{ 'Nom d\'utilisateur'|trans }}</label>
    <label for="email">{{ 'Email'|trans }}</label>
    <label for="password">{{ 'Mot de passe'|trans }}</label>
    <label for="RepeatedType">{{ 'Répéter le mot de passe'|trans }}</label>
  </div>
    <div class="input-champs input-champs-2 animated fadeInRight">
      {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }} {{ form_widget(form) }}
    </div>


  </div>
  <div class="submit-champs ">
    <div>
      <input type="submit" class="btn btn-success" value="{{ 'Valider'|trans }}" />
    </div>
  </div>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
